<div class="d-flex align-items-center py-4" style="height: 100%;">
    <main class="form-signin w-100 m-auto text-center">
        <div *ngIf="!loading">
            <img class="mb-4 mx-auto d-block" src="../../../assets/img/login.png" alt="Login" width="90" height="90">
            <h1 class="h3 mb-3 text-center fw-normal">Password Recovery</h1>
        
            <form (ngSubmit)="recover()" [formGroup]="recoverUser">
                <div class="form-floating">
                    <input type="email" class="form-control mb-2" id="floatingInput" formControlName="email" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                    <span *ngIf="recoverUser.get('email')?.hasError('required') && recoverUser.get('email')?.touched" class="text-danger errLabel">
                        The <strong>email</strong> is required
                    </span>
                    <span *ngIf="recoverUser.get('email')?.hasError('email') && recoverUser.get('email')?.touched" class="text-danger errLabel">
                        Your <strong>email</strong> is invalid
                    </span>
                </div>

                <button class="btn btn-primary w-100 py-2 mt-3" [disabled]="recoverUser.invalid" type="submit">Submit</button>

                <p class="mt-3"><a routerLink="/login">Go Back</a></p>

            </form>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </main>
</div>