<div class="d-flex align-items-center py-4" style="height: 100%;">
    <main class="form-signin w-100 m-auto text-center">
        <img class="mb-4 mx-auto d-block" src="../../../assets/img/login.png" alt="Login" width="90" height="90">
        <h1 class="h3 mb-3 text-center fw-normal">Email Verification Sent</h1>
        <p class="text-start">We sent you an email to verify that you are a real person.</p>

        <button class="btn btn-primary w-100 py-2 mt-3" type="button" routerLink="/login">Go Back</button>
    </main>
</div>